.password_required{
    display: none;
}

.password_required ul{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.password_required ul li{
    margin-bottom: 8px;
    color:red;
    font-weight: 700;
}

.password_required ul li span:before{
    content:"X" ;
}

.password_required ul li.active{
    color: green;
}

.password_required ul li.active span:before{
    content: "✅" ;
}

.invalid_email {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  #showErrorcPwd {
    color: red;
    font-size: 14px;
  }

  .error-fname {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .error-lname {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .error-username {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

